#edit-profile {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.edit-profile__header {
  display: flex;
  align-items: center;
}

.edit-profile__header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.edit-profile__header .fucker-container {
  margin-right: 20px;
  width: 120px;
  display: flex;
  justify-content: flex-end;
}
.edit-profile__container {
  padding: 35px;
  box-sizing: border-box;
}
.edit-profile__row {
  display: flex;
  align-items: center;
}
.edit-profile__row .edit-profile__label {
  width: 120px;
  text-align: right;
  margin-right: 20px;
}

.edit-profile__label {
  display: block;


  margin-top: 30px;
}

label[for="similar"] {
  padding-left: 20px;

}

.edit-profile__row input[type="submit"] {
  border: 0;
  border-radius: 3px;
  margin: 5px 140px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  background-color: #3897f0;
  padding: 5px 25px;
}
