footer {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 55px;
  flex-wrap: wrap;

}
footer .footer__list {
  display: flex;
  list-style: none;
}

.footer__list .footer__item{
  margin-right: 10px;
}
.footer__item .footer__link {
  color: #003569;
}
footer .footer__copyright {
  color: #999;
}
