@media screen and (min-width:320px) and (max-width:670px) {
  /*{ }안에다 써야만 해당코드가 작동됨. 밖에다 작성할경우에는 웹과동일하게 작용될것임*/
  /*body {
    background-color: #f7f9f4;*/

    main {
      margin-top: 0;
    }
    .navigation input {
      display: none;
    }

    .photo .photo__add-comment-container {
      display: none;
    }

    .u-default-box {
      background-color: transparent;
      border: none;
    }

    footer {
      justify-content: center;
    }

    footer .footer__list {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;
    }
    .footer__list .footer__item {
      margin-bottom: 10px;
    }

    .photo {
      margin-bottom: 30px;
    }
    /*login.css 페이지 수정*/
    #login .login__column > img {
      display: none;
    }
    #login .login__column {
      width: 100%;
    }
    /*profile.css 페이지 수정*/
    .profile__header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .profile__header .profile__info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .avatar__container img {
      border-radius: 50%;
      width: 150%;
      margin: 60px 0 30px 0;
    }
    .profile__title a button {
      border: 0;
      font-weight: 600;
      padding: 3px 10px;
      background: transparent;
      border-radius: 3px;
      font-size: 12px;
      border: 1px solid rgba(0, 0, 0, .0975);
      margin: 0 40px 0 60px;
    }
    .profile__title i {
      cursor: pointer;
      font-size: 16px;
    }
    .profile__info {
      display: flex;
      flex-direction: column;
      flex-wrap: initial;
      align-items: center;
    }
    .profile__info .profile__stats {
      order:1;
      margin-left: 0;
      display: flex;
      justify-content: flex-start;
    }
    .profile__bio {
      margin: 0 0 30px 0;
    }

}
